name: Publish

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  publish-nuget:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0"
      - run: cd OFAuth && dotnet build -c Release
      - run: cd OFAuth && dotnet pack -c Release
      - run: cd OFAuth && dotnet nuget push bin/Release/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
